<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<meta charset='utf-8'>
	<title>Ucloud</title>
	<script type="text/javascript" src="./scripts/app/angular.min.js"></script>
	<script type="text/javascript" src="./scripts/app/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="./scripts/app/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./scripts/app/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="./scripts/main.js"></script>
</head>
<body>

<div ng-controller="JSONController" class="">
	<h3>
		<span class="glyphicon glyphicon-cloud" style="margin-left:10pt">Ucloud</span>
		<button class="glyphicon glyphicon-circle-arrow-down" style="font-size:18px;margin-left:300pt;margin-right:20pt" ng-click="loadData()">InputJson</button>
		<button class="glyphicon glyphicon-circle-arrow-up" style="font-size:18px;margin-right:20pt" ng-click="outputJsonFile()">OutputJson</button>
	</h3>
	<br />
	<div style="margin-top:2pt;margin-buttom:2pt;margin-left:2pt">
		<strong>Search: </strong><input type='text' ng-model="titleFilter" placeholder="Please Input Key Value">
	</div>
	<br />
	<div style="margin-top:2pt;margin-buttom:2pt;margin-left:2pt">
		<div style="margin-top:2pt;margin-buttom:2pt">
			<strong>KeyValue: </strong><input type="text" ng-model="newKeyValue" placeholder="input KeyValue" required/>
			<strong>CN: </strong><input type="text" ng-model="newCN" placeholder="input CN" required/>
			<strong>EN: </strong><input type="text" ng-model="newEN" placeholder="input EN" required/>
			<strong>Field: </strong><input type="text" ng-model="newField" placeholder="input Field" required/>
		</div>
		<br />
		<button ng-click="addTag()" class="btn" style="margin-top:2pt;margin-buttom:2pt">
		<span class="glyphicon glyphicon-user">AddNewKeyValue</span>
		</button>
	</div>
	<br>
	<table ng-table="tableParams" class="">
		<thead>
			<tr>
				<th>Edit</th>
				<th>Key Value</th>
				<th>CN</th>
				<th>EN</th>
				<th>Field</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Tag in Tags|filter:titleFilter"><!--//遍历每一个对象-->
				<td title="'Actions'" width="200">
					<button ng-if="!Tag.$edit" ng-click="Tag.$edit = true; editTag(Tag)" class="btn">
						<span class="glyphicon glyphicon-pencil">Edit</span>
					</button>
					<button ng-if="Tag.$edit" ng-click="Tag.$edit = false; saveTag(Tag)" class="btn">
						<span class="glyphicon glyphicon-ok">Save</span>
					</button>
					<button ng-if="Tag.$edit" ng-click="Tag.$edit = false; deleteTag(Tag)" class="btn">
						<span class="glyphicon glyphicon-remove">Delete</span>
					</button>
					<!--<a ng-click="addStudent()" ng-if="Tag.$edit">Add</a>-->
				</td>
				<td title="KeyValue">
					<span ng-if="!Tag.$edit" title = {{Tag.KeyValue}}>{{Tag.KeyValue}}</span>
					<div ng-if="Tag.$edit" title = {{Tag.KeyValue}}><input type="text" ng-model="Tag.KeyValue"></div>
				</td>		
				<td title="CN">
					<span ng-if="!Tag.$edit" title = {{Tag.CN}}>{{Tag.CN}}</span>
					<div ng-if="Tag.$edit" title = {{Tag.CN}}><input type="text" ng-model="Tag.CN"></div>
				</td>
				<td title="EN">
					<span ng-if="!Tag.$edit" title = {{Tag.EN}}>{{Tag.EN}}</span>
					<div ng-if="Tag.$edit" title = {{Tag.EN}}><input type="text" ng-model="Tag.EN"></div>
				</td>		
				<td title="Field">
					<span ng-if="!Tag.$edit" title = {{Tag.Field}}>{{Tag.Field}}</span>
					<div ng-if="Tag.$edit" title = {{Tag.Field}}><input type="text" ng-model="Tag.Field"></div>
				</td>				
			</tr>			
		</tbody>
	</table>
</div>
</body>
</html>