<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<meta charset='utf-8'>
	<title>Ucloud</title>
	<script type="text/javascript" src="C:\demo\AngularJS\angular.min.js"></script>
	<script type="text/javascript" src="Form.js"></script>
</head>
<body>

<div ng-controller="FormController">
	<h3>Ucloud</h3>
	<br>
	<div>
		搜索：<input type='text' ng-model="titleFilter" placeholder="输入关键字"><!--//加上<tr ng-repeat="student in students|filter:titleFilter"></tr>实现了表格内容的检索-->
	</div>
	<br>
	<table ng-table="tableParams">
		<tr ng-repeat="Tag in Tags|filter:titleFilter"><!--//遍历每一个对象-->
			<td title="Key">
				<span ng-if="!Tag.$edit">{{Tag.Key}}</span>
				<div ng-if="Tag.$edit"><input type="text" ng-model="Tag.Key"></div>
			</td>		
			<td title="CN">
				<span ng-if="!Tag.$edit">{{Tag.CN}}</span>
				<div ng-if="Tag.$edit"><input type="text" ng-model="Tag.CN"></div>
			</td>
			<td title="EN">
				<span ng-if="!Tag.$edit">{{Tag.EN}}</span>
				<div ng-if="Tag.$edit"><input type="text" ng-model="Tag.EN"></div>
			</td>		
			<td title="Field">
				<span ng-if="!Tag.$edit">{{Tag.Field}}</span>
				<div ng-if="Tag.$edit"><input type="text" ng-model="Tag.Field"></div>
			</td>
			<td title="'Actions'" width="200">
				<a ng-if="!Tag.$edit" ng-click="Tag.$edit=true">Edit</a>
				<a ng-if="Tag.$edit" ng-click="Tag.$edit=false">Save</a>
				<a ng-click="deleteTag(obj)" ng-if="Tag.$edit">Delete</a>
				<!--<a ng-click="addStudent()" ng-if="Tag.$edit">Add</a>-->
			</td>				
		</tr>
	</table>
	<div>
		<input type="text" ng-model="newKey" placeholder="input Key" required/>
		<input type="text" ng-model="newCN" placeholder="input CN" required/>
		<input type="text" ng-model="newEN" placeholder="input EN" required/>
		<input type="text" ng-model="newField" placeholder="input Field" required/>
		<input type="button" ng-click="addTag()" value="Add"/>
	</div>
</div>
</body>
</html>